@use "./styles/variables" as variables;

.app {
  display: grid;
  grid-template-areas: "product-list cart";
  height: 100vh;
  padding: 1rem;

  @media (max-width: variables.$breakpoint-mobile) {
    grid-template-columns: 1fr;
  }

  @media (min-width: variables.$breakpoint-tablet) {
    grid-template-columns: 3fr 1fr;
  }

  .product-list {
    grid-area: "product-list";
    display: grid;

    @media (max-width: variables.$breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
      gap: 1rem;
    }

    @media (min-width: variables.$breakpoint-tablet) {
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      padding: 1rem;
    }
  }

  .cart {
    grid-area: "cart";

    @media (max-width: variables.$breakpoint-tablet) {
      display: none;
    }
  }
}
