@use "../../styles/variables" as variables;

.favorite-item {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;

    .favorite-container {
        svg {
            color: red;
        }
    }

    @media (max-width: variables.$min-breakpoint-tablet) {
        top: 1px;
        right: 1px;
        .favorite-container,
        .add-favorite-container {
            transform: scale(0.7);
        }
    }
}

.favorite-item:active {
    color: red;
    transform: scale(1.2);
}
