@use "../../styles/variables" as variables;

.cart-item {
    display: grid;
    margin-bottom: 24px;

    img {
        border-radius: 8px;
    }

    .action-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 4px;

        .item-quantity-container {
            button {
                border: none;
                background-color: inherit;
            }
        }
    }

    .price-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: variables.$min-breakpoint-tablet) {
        display: grid;
        grid-template-columns: 3.5fr 8fr 1.5fr;
        max-height: 300px;
        margin-bottom: 24px;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }

        .action-container {
            padding: 4px;
            align-items: center;
            .item-quantity-container {
                padding: 8px 16px 0 16px;
                text-align: left;
                span {
                    font-size: 1.2rem;
                    margin: 0 16px;
                }
            }
        }

        .price-container {
            span {
                font-size: 1.1rem;
            }
        }
    }

    @media (min-width: variables.$min-breakpoint-tablet) and (max-width: variables.$max-breakpoint-tablet) {
        grid-template-columns: 1fr 2fr 0.5fr;
        max-height: 64px;
        margin-bottom: 24px;

        img {
            width: 64px;
            height: 64px;
            object-fit: cover;
        }

        .action-container {
            align-items: center;
            padding: 4px;

            span {
                font-size: 0.75rem;
            }

            .item-quantity-container {
                padding: 4px 4px 0 4px;
                text-align: left;

                span {
                    font-size: 0.9rem;
                    margin: 0 8px;
                }

                button {
                    width: 20px;
                    height: 15px;
                    background-color: inherit;
                }
            }
        }

        .price-container {
            span {
                font-size: 0.85rem;
            }
        }
    }

    @media (min-width: variables.$breakpoint-desktop) {
        grid-template-columns: 1fr 2fr 0.5fr;

        .action-container {
            align-items: center;
            padding: 0 0 24px 0;
        }

        .item-quantity-container {
            padding: 8px 16px 0 16px;
            text-align: left;
            span {
                font-size: 1.2rem;
                margin: 0 16px;
            }
        }
    }
}
