@use "../../styles/variables" as variables;

.cart {
    position: relative;
    border: 1px solid grey;
    height: 100vh;
    overflow-y: scroll;
    @media (max-width: variables.$min-breakpoint-tablet) {
        .cart-header-container {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            height: 5vh;
            margin: 24px 8px 32px 8px;
            .back-button-container {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .items-container {
            padding: 24px;
        }
    }
    @media (min-width: variables.$min-breakpoint-tablet) {
        padding: 80px 16px;
        .cart-header-container {
            display: none;
        }
    }
}
